APP_NAME="WP Manager"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://wp.devconecta.com.br

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=wp_manager
DB_USERNAME=root
DB_PASSWORD=Ga96911431@

# Caminhos do projeto no VPS
WP_SITES_PATH=/var/www/wordpress
WP_NGINX_CONF_PATH=/etc/nginx/sites-available
WP_NGINX_ENABLED_PATH=/etc/nginx/sites-enabled
WP_BACKUPS_PATH=/var/www/gestor_wp/backups
WP_PROJECT_ROOT=/var/www/gestor_wp
WP_BASE_DOMAIN=wp.devconecta.com.br

CACHE_STORE=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
