APP_NAME="WP Docker Manager"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://manager.localhost

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=wp_manager
DB_USERNAME=root
DB_PASSWORD=root

# Caminhos do projeto (dentro do container)
WP_SITES_PATH=/var/www/sites
WP_NGINX_CONF_PATH=/etc/nginx/conf.d
WP_BACKUPS_PATH=/var/www/manager/../backups
WP_DOCKER_COMPOSE_PATH=/var/www/manager/..

CACHE_STORE=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
